
.container {
  width: 100%;
  position: relative;
}
foreignObject {
    aspect-ratio: 16 / 9;
    font-size: 1rem;
  }
  video {
    width: 60%;
  }
  text {
    font-weight: bold;
    fill: #d4d4d4;
  }
  .back {
    fill: #000000;
    width: 300px;
    height: 90px;
  }
  .erectio [fill="black"] {
    height: .5rem;
  }

video{
  
}